@font-face {
  font-family: 'mono';
  src: url('https://0x7878.github.io/tmp_font/mono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
x-row {
  text-rendering: optimizeLegibility;
  font-variant-ligatures: normal;
}
